<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="ProductQty_Config" type="ConfigManager.ProductQtyConfig, ConfigManager, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
    </configSections>
    <ProductQty_Config>
        <Setting>
            <clear />
            <add Id="0" Description="Limit" MinQuantity="0" MaxQuantity="26" />
        </Setting>
    </ProductQty_Config>
</configuration>