<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="Err_Lib" type="ConfigManager.ErrorConfig, ConfigManager, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
  </configSections>
  <Err_Lib>
    <ErrTable>
      <clear />
      <Alarm Code="1" Station="Code Reader" AlarmType="Error" Cause="Code Reader Result: Missing Result during decode"
        Recovery=" Make sure Barcode Label is correctly in place"
        RetestOption="false" RetestDefault="true" IsStoppage="true" PicPath="">
      </Alarm>
      <Alarm Code="3" Station="Code Reader" AlarmType="Error" Cause="Code Reader Result: Unequal Box Quantity"
        Recovery="Please confirm quantity in box is correct and barcode label is printed correctly"
        RetestOption="false" RetestDefault="true" IsStoppage="true" PicPath="">
      </Alarm>
      <Alarm Code="4" Station="Code Reader" AlarmType="Error" Cause="Code Reader Result: Exceed Total Batch Quantity"
        Recovery="Refer to admin / engineer / technician to proceed"
        RetestOption="false" RetestDefault="true" IsStoppage="true" PicPath="">
      </Alarm>
	
    </ErrTable>
  </Err_Lib>
</configuration>
