<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="Err_Lib" type="ConfigManager.ErrorConfig, ConfigManager, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
  </configSections>
  <Err_Lib>
    <ErrTable>
      <clear />
      <Alarm Code="0" Station="Top Vision" Cause="Top Vision Result: Product Has Wrong Orientation"
        AlarmType="Error" Recovery="Please check the product orientation in the box"
        RetestOption="false" RetestDefault="true" IsStoppage="true"
        PicPath="" />
      <Alarm Code="1" Station="Code Reader" Cause="Code Reader Result: Incorrect Batch Number"
        AlarmType="Error" Recovery="Refer to admin / engineer / technician to proceed"
        RetestOption="false" RetestDefault="true" IsStoppage="true"
        PicPath="Sample.jpg" />
      <Alarm Code="2" Station="Code Reader" Cause="Code Reader Result: Unequal Batch Quantity"
        AlarmType="Error" Recovery="Please confirm quantity in box is correct and barcode label is printed correctly"
        RetestOption="false" RetestDefault="true" IsStoppage="true"
        PicPath="" />
      <Alarm Code="3" Station="Code Reader" Cause="Code Reader Result: Exceed Total Batch Quantity"
        AlarmType="Error" Recovery="Refer to admin / engineer / technician to proceed"
        RetestOption="false" RetestDefault="true" IsStoppage="true"
        PicPath="" />
      <Alarm Code="4" Station="Top Vision" Cause="Top Vision Result: Exceed Upper Limit"
        AlarmType="Error" Recovery="Must not exceed upper limit" RetestOption="false"
        RetestDefault="true" IsStoppage="true" PicPath="" />
    </ErrTable>
  </Err_Lib>
</configuration>
