<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="Err_Lib" type="ConfigManager.ErrorConfig, ConfigManager, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
  </configSections>
  <Err_Lib>
    <ErrTable>
      <clear />
	  <Alarm Code="0" Station="Top Vision" AlarmType="Error" Cause="Top Vision Result: Vision Overall Result Rejected"
        Recovery="Please check the overall product quantity"
        RetestOption="false" RetestDefault="true" IsStoppage="true" PicPath="">
      </Alarm>
      <Alarm Code="1" Station="Top Vision" AlarmType="Error" Cause="Top Vision Result: Product Has Wrong Orientation"
        Recovery="Please check the product orientation in the box"
        RetestOption="false" RetestDefault="true" IsStoppage="true" PicPath="">
      </Alarm>
      <Alarm Code="2" Station="Code Reader" AlarmType="Error" Cause="Code Reader Result: Missing Result during decode"
        Recovery=" Make sure Barcode Label is correctly in place"
        RetestOption="false" RetestDefault="true" IsStoppage="true" PicPath="">
      </Alarm>
      <Alarm Code="3" Station="Code Reader" AlarmType="Error" Cause="Code Reader Result: Batch Number is not match as entered"
        Recovery="Make sure batch number is same as entered during start lot"
        RetestOption="false" RetestDefault="true" IsStoppage="true" PicPath="Sample.jpg">
      </Alarm>
      <Alarm Code="4" Station="Code Reader" AlarmType="Error" Cause="Code Reader Result: Same Container Number detected"
        Recovery="Make sure Container Number is not repeated"
        RetestOption="false" RetestDefault="true" IsStoppage="true" PicPath="">
      </Alarm>
      <Alarm Code="5" Station="Code Reader" AlarmType="Error" Cause="Code Reader Result: Current Box Quantity Does Not Match Vision Result"
        Recovery="Please confirm quantity in box is correct and barcode label is printed correctly"
        RetestOption="false" RetestDefault="true" IsStoppage="true" PicPath="">
      </Alarm>
      <Alarm Code="6" Station="Code Reader" AlarmType="Error" Cause="Code Reader Result: Current Total Batch Quantity has exceeded the Total Batch Quantity Entered"
        Recovery="Please check total box quanitity and end lot"
        RetestOption="false" RetestDefault="true" IsStoppage="true" PicPath="">
      </Alarm>
    </ErrTable>
  </Err_Lib>
</configuration>
