<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="Err_Lib" type="ConfigManager.ErrorConfig, ConfigManager, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
  </configSections>
  <Err_Lib>
    <ErrTable>
      <clear />
	  <Alarm
        Code="0"
        Station="E-Stop Button"
		AlarmType="Error"
        Cause="E-STOP BUTTON PRESSED !!!"
        Recovery="Release the E-Stop Button. All sequences have been terminated. Click the Initialize Button to re-initialize the machine again."
        RetestOption="false"
        RetestDefault="true"
        IsStoppage="true"
        PicPath="E-Stop.jpg">
      </Alarm>
      <Alarm
        Code="1"
        Station="Air Regulator"
		AlarmType="Error"
        Cause="AIR PRESSURE LOW !!!"
        Recovery="Check the In-coming air supply. All sequences have been terminated. Click the Initialize Button to re-initialize the machine again."
        RetestOption="false"
        RetestDefault="true"
        IsStoppage="true"
        PicPath="">
      </Alarm>
	  <Alarm
        Code="2"
        Station="Vaccum Pump"
		AlarmType="Error"
        Cause="NO VACUUM ! !!"
        Recovery="Check the In-coming vacuum supply. All sequences have been terminated. Click the Initialize Button to re-initialize the machine again."
        RetestOption="false"
        RetestDefault="true"
        IsStoppage="true"
        PicPath="">
	  </Alarm>
	  <Alarm
        Code="3"
        Station="Safety Door"
		AlarmType="Error"
        Cause="Door is Opened !!!"
        Recovery="Check the Door Close Sensor is ON. Handler has performed a cycle stop. Press the Start Button to resume from this error."
        RetestOption="false"
        RetestDefault="true"
        IsStoppage="false"
        PicPath="">
      </Alarm>
    </ErrTable>
  </Err_Lib>
</configuration>
