<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="Err_Lib" type="ConfigManager.ErrorConfig, ConfigManager, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
  </configSections>
  <Err_Lib>
    <ErrTable>
      <clear />
	  <Alarm Code="0" Station="Top Vision" AlarmType="Error" Cause="Top Vision Result: Vision Overall Result Rejected"
        Recovery="Please check the overall product quantity"
        RetestOption="false" RetestDefault="true" IsStoppage="true" PicPath="">
      </Alarm>
      <Alarm Code="1" Station="Top Vision" AlarmType="Error" Cause="Top Vision Result: Product Has Wrong Orientation"
        Recovery="Please check the product orientation in the box"
        RetestOption="false" RetestDefault="true" IsStoppage="true" PicPath="">
      </Alarm>
	 
    </ErrTable>
  </Err_Lib>
</configuration>
