<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="Err_Lib" type="ConfigManager.ErrorConfig, ConfigManager, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
  </configSections>
  <Err_Lib>
    <ErrTable>
      <clear />
	  <Alarm Code="0" Station="SampleSeq" AlarmType="故障" Cause="電機警報： 電機警報信號已啟動"
        Recovery="請檢查電機驅動器上的警報代碼。 如果此問題持續存在，請聯繫製造商。"
        RetestOption="false" RetestDefault="true" IsStoppage="true" PicPath="">
      </Alarm>
      <Alarm Code="1" Station="SampleSeq" AlarmType="故障" Cause="電機未準備: 準備信號未開"
        Recovery="1) 檢查接線。&#xD;&#xA;2) 確保錯誤計時器參數設置長於電機完成歸位操作所需的時間。&#xD;&#xA;3) 恢復後系統將再次執行歸位。"
        RetestOption="false" RetestDefault="true" IsStoppage="true" PicPath="">
      </Alarm>
      <Alarm Code="2" Station="SampleSeq" AlarmType="故障" Cause="電機沒就位: 動作循環已超時，在錯誤計時器結束後，就位信號保持關閉"
        Recovery="1) 檢查接線。&#xD;&#xA;2) 確定發出運作命令時是否有實際物理在運作。&#xD;&#xA;3) 確保錯誤計時器參數設置長於電機完成歸位操作所需的時間。&#xD;&#xA;4) 恢復後系統將再次執行歸位。"
        RetestOption="false" RetestDefault="true" IsStoppage="true" PicPath="">
      </Alarm>
      <Alarm Code="3" Station="SampleSeq" AlarmType="故障" Cause="擊中前向限位: 動作循環超時，觸發前向限位信號"
        Recovery="1) 確保前向限位傳感器運作正常。&#xD;&#xA;2) 您可能需要手動將負載向後移，遠離限位傳感器。&#xD;&#xA;3) 恢復後系統將再次執行歸位。"
        RetestOption="false" RetestDefault="true" IsStoppage="true" PicPath="Sample.jpg">
      </Alarm>
      <Alarm Code="4" Station="SampleSeq" AlarmType="故障" Cause="击中反向限位: 动作循环超时，触发反向限位信号"
        Recovery="1) 確保反向限位傳感器運作正常。&#xD;&#xA;2) 您可能需要手動將負載向後移，遠離限位傳感器。&#xD;&#xA;3) 恢復後系統將再次執行歸位。"
        RetestOption="false" RetestDefault="true" IsStoppage="true" PicPath="">
      </Alarm>
      <Alarm Code="5" Station="SampleSeq" AlarmType="故障" Cause="未定義的電機錯誤"
        Recovery="1) 請檢查電機驅動器上的警報代碼。如果此問題持續存在，請聯繫製造商。"
        RetestOption="false" RetestDefault="true" IsStoppage="true" PicPath="">
      </Alarm>
      <Alarm Code="6" Station="SampleSeq" AlarmType="故障" Cause="電機警報未解除： 電機警報信號未解除"
        Recovery="1) 檢查接線。&#xD;&#xA;2) 確保重置警報信號啟開的時間夠長以重置電機警報。&#xD;&#xA;3) 恢復後系統將再次執行歸位。"
        RetestOption="false" RetestDefault="true" IsStoppage="true" PicPath="">
      </Alarm>
	  <Alarm Code="7" Station="SampleSeq" AlarmType="故障" Cause="測試錯誤 1"
        Recovery="1) 檢查接線。&#xD;&#xA;2) 確保重置警報信號啟開的時間夠長以重置電機警報。&#xD;&#xA;3) 恢復後系統將再次執行歸位。"
        RetestOption="false" RetestDefault="true" IsStoppage="true" PicPath="">
      </Alarm>
	  <Alarm Code="8" Station="SampleSeq" AlarmType="故障" Cause="代碼閱讀器連接失敗"
        Recovery="1) 請檢查代碼閱讀器連接。"
        RetestOption="false" RetestDefault="true" IsStoppage="true" PicPath="">
      </Alarm>
    </ErrTable>
  </Err_Lib>
</configuration>
