<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="Err_Lib" type="ConfigManager.ErrorConfig, ConfigManager, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
  </configSections>
  <Err_Lib>
    <ErrTable>
      <clear />
	  <Alarm
        Code="0"
        Station="緊急按鈕"
		AlarmType="故障"
        Cause="緊急按鈕已按下！！！"
        Recovery="解放緊急按鈕。 所有序列已中斷。 點擊初始化按鈕再次重新初始化機器。"
        RetestOption="false"
        RetestDefault="true"
        IsStoppage="true"
        PicPath="E-Stop.jpg">
      </Alarm>
      <Alarm
        Code="1"
        Station="空氣調節器"
		AlarmType="故障"
        Cause="氣壓過低！！！"
        Recovery="檢查空氣供應。 所有序列已中斷。 點擊初始化按鈕再次重新初始化機器。"
        RetestOption="false"
        RetestDefault="true"
        IsStoppage="true"
        PicPath="">
      </Alarm>
	  <Alarm
        Code="2"
        Station="真空泵"
		AlarmType="故障"
        Cause="没有真空！！！"
        Recovery="檢查真空供應。 所有序列已中斷。 點擊初始化按鈕再次重新初始化機器。"
        RetestOption="false"
        RetestDefault="true"
        IsStoppage="true"
        PicPath="">
	  </Alarm>
	  <Alarm
        Code="3"
        Station="安全門"
		AlarmType="故障"
        Cause="門已打開！！！"
        Recovery="檢查關門傳感器是否開啟。管理者已執行循環停止。按開始按鈕可從此恢復錯誤。"
        RetestOption="false"
        RetestDefault="true"
        IsStoppage="false"
        PicPath="">
      </Alarm>
    </ErrTable>
  </Err_Lib>
</configuration>
