<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="ToolLife_Config" type="ConfigManager.ToolLifeConfig, ConfigManager, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
    </configSections>
    <ToolLife_Config>
        <ToolLife>
            <clear />
            <add ID="0" ToolName="Test 1" Tooltip="Current Tool Life for Test 1"
                CleaningValue="145" MinCleaning="1" MaxCleaning="30" ToolLifeValue="0"
                MinToolLife="5" MaxToolLife="10" IsCleaningEnable="false"
                IsToolLifeEnable="true" />
            <add ID="1" ToolName="Test 2" Tooltip="Current Tool Life for Test 1"
                CleaningValue="0" MinCleaning="1" MaxCleaning="16" ToolLifeValue="0"
                MinToolLife="6" MaxToolLife="30" IsCleaningEnable="true" IsToolLifeEnable="false" />
            <add ID="2" ToolName="Test 3" Tooltip="Current Tool Life for Test 1"
                CleaningValue="0" MinCleaning="1" MaxCleaning="30" ToolLifeValue="0"
                MinToolLife="7" MaxToolLife="30" IsCleaningEnable="false"
                IsToolLifeEnable="false" />
            <add ID="3" ToolName="Test 4" Tooltip="Current Tool Life for Test 1"
                CleaningValue="0" MinCleaning="1" MaxCleaning="30" ToolLifeValue="0"
                MinToolLife="8" MaxToolLife="30" IsCleaningEnable="true" IsToolLifeEnable="true" />
            <add ID="4" ToolName="Test 5" Tooltip="Current Tool Life for Test 1"
                CleaningValue="0" MinCleaning="1" MaxCleaning="30" ToolLifeValue="0"
                MinToolLife="9" MaxToolLife="28" IsCleaningEnable="false"
                IsToolLifeEnable="true" />
            <add ID="5" ToolName="Test 6" Tooltip="Current Tool Life for Test 1"
                CleaningValue="0" MinCleaning="1" MaxCleaning="30" ToolLifeValue="0"
                MinToolLife="10" MaxToolLife="30" IsCleaningEnable="true"
                IsToolLifeEnable="false" />
        </ToolLife>
    </ToolLife_Config>
</configuration>
