<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="Mot_Config" type="ConfigManager.MotionConfig, ConfigManager, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
    </configSections>
    <Mot_Config>
        <Velocity>
            <clear />
            <add ID="0" DriveVel="50000" Acc="1500000" Dcc="1500000" JerkTime="9000"
                KillDcc="20000" MaxVel="6000000" MaxAcc="6000000" MaxDcc="6000000"
                ProfileName="Fast" IsVisible="true" />
            <add ID="1" DriveVel="30000" Acc="1500000" Dcc="1500000" JerkTime="9000"
                KillDcc="20000" MaxVel="3000000" MaxAcc="3000000" MaxDcc="3000000"
                ProfileName="Medium" IsVisible="true" />
            <add ID="2" DriveVel="15000" Acc="150000" Dcc="150000" JerkTime="9000"
                KillDcc="20000" MaxVel="1000000" MaxAcc="1000000" MaxDcc="1000000"
                ProfileName="Slow" IsVisible="true" />
            <add ID="3" DriveVel="15000" Acc="150000" Dcc="150000" JerkTime="9000"
                KillDcc="20000" MaxVel="6000000" MaxAcc="1000000" MaxDcc="1000000"
                ProfileName="Home" IsVisible="true" />
        </Velocity>
        <Position>
            <clear />
            <add ID="0" SetPoint="0" UoM="mm" SoftLimit="200" Editable="true"
                Description="Pick" IsVisible="true" />
            <add ID="1" SetPoint="0" UoM="mm" SoftLimit="200" Editable="true"
                Description="Ready" IsVisible="true" />
            <add ID="2" SetPoint="0" UoM="mm" SoftLimit="200" Editable="true"
                Description="Place" IsVisible="true" />
            <add ID="3" SetPoint="0" UoM="mm" SoftLimit="200" Editable="true"
                Description="Limit Offset" IsVisible="false" />
            <add ID="4" SetPoint="0" UoM="mm" SoftLimit="200" Editable="true"
                Description="Load" IsVisible="false" />
        </Position>
        <Option ChkAlarm="true" ChkReady="true" ChkInPos="true" ChkFwdLimit="true"
            ChkRevLimit="true" ChkAxisHome="true" AlarmContact="NO" ReadyContact="NO"
            UseIORstAlarm="false" />
        <Axis Name="Z Axis" CardID="0" AxisID="90" Revolution="20500"
            Pitch="5" UoM="mm" Type="Stepper" System="Linear" SetZeroPosAfterGoLoad="false"
            HomeMode="7" />
        <ViewCfg Dir1="Up" Icon1="/GreatechApp.Core;component/Icon/Up.png"
            Sign1="-1" Dir2="Down" Icon2="/GreatechApp.Core;component/Icon/Down.png"
            Sign2="1" VelUoM="pps" AccUoM="pps2" />
        <Dir Opr="1" LimitOffset="1" Right="1" Left="-1" Up="1" Down="-1"
            CW="1" CCW="-1" Front="1" Rear="-1" Fwd="1" Rev="-1" Index="1" />
    </Mot_Config>
</configuration>
