<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="System_Config" type="ConfigManager.SystemConfig, ConfigManager, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
    </configSections>
    <System_Config>
        <FolderPath AppLog="..\Log\" SoftwareResultLog="..\SoftwareResultLog\" OEELog="..\OEELog\" />
        <Machine SafetyScan="true" BypInterlock="true" AdminEStop="false"
            EquipName="Counting Scale" HardVer="1.0.0" MachineID="1" />
        <General MaxLogItem="5000" IdealUPH="10000" IdealCycleTime="0.36"
            DurationToFailure="0" FontSize="20" IOScanRate="200" IsCompactView="false" IsEquipmentView="false" IsOperatorView="false"
            SQLService="MSSQL$SQLEXPRESS" IsLogTCPMsg="false" IsLogSerialMsg="false" />
        <Regional Culture="en-US" />
        <DigitalIO ClassName="MoxaIO" MaxPortNum="64" MaxBitPerPort="16"
            MaxSlaveNo="10" />
        <IOCards>
            <clear />
            <add ID="0" NumOfSetID="1" />
        </IOCards>
        <IOInDevices>
            <clear />
            <add ID="0" IOName="Moxa Input Card 0" DeviceAddress="192.168.0.14"
                DevicePort="701" InputStartAddress="0" OutputStartAddress="512"
                NumOfInputModules="0" NumOfOutputModules="0" IOFile="" />
        </IOInDevices>
        <IOOutDevices>
            <clear />
            <add ID="1" IOName="Moxa Output Card 1" DeviceAddress="192.168.0.15"
                DevicePort="701" InputStartAddress="0" OutputStartAddress="512"
                NumOfInputModules="0" NumOfOutputModules="0" IOFile="" />
        </IOOutDevices>
        <NetworkDevices>
            <clear />
            <add ID="0" Name="MES TCP" IPAddress="192.168.120.225" Port="8500"
		SendDataFormat="ASCII" ReceivedDataFormat="ASCII" Type="MES"/>
        </NetworkDevices>
	<VisionDevices>
       <clear />
	     <add ID="0" Name="Top Vision" IPAddress="192.168.0.101" Port="3000"
                SendDataFormat="ASCII" ReceivedDataFormat="ASCII" Type="Vision" />
        </VisionDevices>

        <SerialPortDevices>
            <clear />
	    <add ID="0" Name="Ohaus Defender 3000" BaudRate="9600" Parity="8 none" PortName="COM1" 
		StopBit="1" Handshake="none" Format="ASCII" Type="Weighing Scale"/>
        </SerialPortDevices>
        <SeqCfg>
            <clear />
            <add ID="0" SeqID="0" Reference="..\Config Section\Seq Setting\TopVisionSeq.Seq.Config"
                BakRef="" ErrLib="TopVisionSeq.ErrLib.Config" ErrLibPath="..\Config Section\Err Library" />
            <add ID="1" SeqID="0" Reference="..\Config Section\Seq Setting\CodeReaderSeq.Seq.Config"
                BakRef="" ErrLib="CodeReaderSeq.ErrLib.Config" ErrLibPath="..\Config Section\Err Library" />
	    <add ID="2" SeqID="0" Reference="..\Config Section\Seq Setting\CountingScaleSeq.Seq.Config"
                BakRef="" ErrLib="CountingScaleSeq.ErrLib.Config" ErrLibPath="..\Config Section\Err Library" />
        </SeqCfg>
		<PrdQtyLimitCfg>
			<clear />
			<add ID="0" SeqID="0" Reference="..\Config Section\Product Quantity Setting\QtyLimit.Config"/>
		</PrdQtyLimitCfg>
        <TowerLightCfg>
            <clear />
            <add ID="0" SeqID="0" Reference="..\Config Section\Tower Light Setting\Tower.Light.Config"
                BakRef="" ErrLib="" ErrLibPath="" />
        </TowerLightCfg>
    </System_Config>
</configuration>
