<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="System_Config" type="ConfigManager.SystemConfig, ConfigManager, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
    </configSections>
    <System_Config>
        <FolderPath AppLog="..\Log\" SoftwareResultLog="..\SoftwareResultLog\" SeqInfoLog="..\SeqInfoLog\" CommCfgPath="..\Config Section\CommSetting\"
            LiveSeqLog="..\LiveSeqLog\" OEELog="..\OEELog\" AnalysisLog="..\Analysis Log\" />
        <Machine SafetyScan="true" BypInterlock="true" AdminEStop="false"
            EquipName="Counting Scale" HardVer="1.0.0" MachineID="1" />
        <General MaxLogItem="5000" IdealUPH="10000" IdealCycleTime="0.36"
            DurationToFailure="0" FontSize="20" IOScanRate="200" IsCompactView="false" IsEquipmentView="false" IsOperatorView="false"
            SQLService="MSSQL$SQLEXPRESS" IsLogTCPMsg="false" IsLogSerialMsg="false" />
        <Regional Culture="en-US" />
        <DigitalIO ClassName="MoxaIO" MaxPortNum="64" MaxBitPerPort="16"
            MaxSlaveNo="10" />
        <TCOSIODevice>
            <clear />
        </TCOSIODevice>
        <IOCards>
            <clear />
            <add ID="0" NumOfSetID="1" />
        </IOCards>
        <IOInDevices>
            <clear />
            <add ID="0" IOName="Moxa Input Card 1" DeviceAddress="192.168.0.14"
                DevicePort="701" InputStartAddress="0" OutputStartAddress="512"
                NumOfInputModules="0" NumOfOutputModules="0" IOFile="" />
        </IOInDevices>
        <IOOutDevices>
            <clear />
            <add ID="0" IOName="Moxa Output Card 1" DeviceAddress="192.168.0.15"
                DevicePort="701" InputStartAddress="0" OutputStartAddress="512"
                NumOfInputModules="0" NumOfOutputModules="0" IOFile="" />
        </IOOutDevices>
        <IOAdvantechDevices>
            <clear />
            <add ID="0" IOName="Advantech IO Card 1" DeviceAddress="" DevicePort="503"
                InputStartAddress="0" OutputStartAddress="512" NumOfInputModules="0"
                NumOfOutputModules="0" IOFile="..\Config Section\IO\PCI11203_IO.xml" />
            <add ID="1" IOName="Advantech IO Card 2" DeviceAddress="" DevicePort="503"
                InputStartAddress="0" OutputStartAddress="512" NumOfInputModules="0"
                NumOfOutputModules="0" IOFile="..\Config Section\IO\PCI21203_IO.xml" />
        </IOAdvantechDevices>
        <IOWagoDevices>
            <clear />
            <add ID="0" IOName="Wago Card 1" DeviceAddress="192.168.1.3"
                DevicePort="502" InputStartAddress="0" OutputStartAddress="512"
                NumOfInputModules="8" NumOfOutputModules="8" IOFile="" />
        </IOWagoDevices>
        <Motion ClassName="GalilMotion" NumOfController="1" NumOfAxis="3" />
        <MotionCards>
            <clear />
            <add ID="0" CardID="0" DeviceAddress="192.168.0.100" DevicePort="701"
                ConfigFile="" />
        </MotionCards>
        <VisionTesterStations>
            <clear />
            <add ID="0" Name="TopVision" Type="Vision" />
            <add ID="1" Name="BottomVision" Type="Vision" />
            <add ID="2" Name="Vision4S" Type="Vision" />
            <add ID="3" Name="Tester1" Type="Tester" />
            <add ID="4" Name="Tester2" Type="Tester" />
            <add ID="5" Name="Tester3" Type="Tester" />
            <add ID="6" Name="Tester4" Type="Tester" />
            <add ID="7" Name="Tester5" Type="Tester" />
            <add ID="8" Name="Tester6" Type="Tester" />
            <add ID="9" Name="Vision1" Type="Vision" />
            <add ID="10" Name="Vision2" Type="Vision" />
            <add ID="11" Name="Vision3" Type="Vision" />
            <add ID="12" Name="Vision4" Type="Vision" />
        </VisionTesterStations>
        <NetworkDevices>
            <clear />
            <add ID="0" Name="Top Vision" IPAddress="192.168.0.11" Port="3000"
                SendDataFormat="ASCII" ReceivedDataFormat="ASCII" Type="Scanner" />
            <add ID="1" Name="Code Reader" IPAddress="192.168.0.7" Port="8800"
                SendDataFormat="ASCII" ReceivedDataFormat="ASCII" Type="Vision" />
        </NetworkDevices>
        <ServerSockets>
            <clear />
        </ServerSockets>
        <SeqCfg>
            <clear />
            <add ID="0" SeqID="0" Reference="..\Config Section\Seq Setting\CriticalScan.Seq.Config"
                BakRef="" ErrLib="Critical.ErrLib.Config" ErrLibPath="..\Config Section\Err Library" />
            <add ID="1" SeqID="0" Reference="..\Config Section\Seq Setting\TopVisionSeq.Seq.Config"
                BakRef="" ErrLib="TopVisionSeq.ErrLib.Config" ErrLibPath="..\Config Section\Err Library" />
            <add ID="2" SeqID="0" Reference="..\Config Section\Seq Setting\CodeReaderSeq.Seq.Config"
                BakRef="" ErrLib="CodeReaderSeq.ErrLib.Config" ErrLibPath="..\Config Section\Err Library" />
            <add ID="3" SeqID="0" Reference="..\Config Section\Seq Setting\SampleSeq3.Seq.Config"
                BakRef="" ErrLib="SampleSeq3.ErrLib.Config" ErrLibPath="..\Config Section\Err Library" />
            <add ID="4" SeqID="0" Reference="..\Config Section\Seq Setting\SampleSeq4.Seq.Config"
                BakRef="" ErrLib="SampleSeq4.ErrLib.Config" ErrLibPath="..\Config Section\Err Library" />
            <add ID="5" SeqID="0" Reference="..\Config Section\Seq Setting\SampleSeq5.Seq.Config"
                BakRef="" ErrLib="SampleSeq5.ErrLib.Config" ErrLibPath="..\Config Section\Err Library" />
            <add ID="6" SeqID="0" Reference="..\Config Section\Seq Setting\BarcodeScanner.Seq.Config"
                BakRef="" ErrLib="BarcodeScanner.ErrLib.Config" ErrLibPath="..\Config Section\Err Library" />
			<add ID="7" SeqID="0" Reference="..\Config Section\Seq Setting\CountingScaleSeq.Seq.Config"
                BakRef="" ErrLib="CountingScaleSeq.ErrLib.Config" ErrLibPath="..\Config Section\Err Library" />
        </SeqCfg>
	<PrdQtyLimitCfg>
		<clear />
		<add ID="0" SeqID="0" Reference="..\Config Section\Product Quantity Setting\QtyLimit.Config"/>
	</PrdQtyLimitCfg>
        <MotCfg>
            <clear />
            <add ID="0" SeqID="1" Reference="..\Config Section\Motion Setting\MotionA.Motion.Config"
                BakRef="" ErrLib="" ErrLibPath="" />
            <add ID="1" SeqID="1" Reference="..\Config Section\Motion Setting\MotionB.Motion.Config"
                BakRef="" ErrLib="" ErrLibPath="" />
            <add ID="2" SeqID="2" Reference="..\Config Section\Motion Setting\MotionC.Motion.Config"
                BakRef="" ErrLib="" ErrLibPath="" />
        </MotCfg>
        <CounterCfg>
            <clear />
            <add ID="0" SeqID="0" Reference="..\Config Section\ToolLife\ToolLife.Config"
                BakRef="" ErrLib="" ErrLibPath="" />
        </CounterCfg>
        <SerialPortCfg>
            <clear />
            <add ID="0" SeqID="0" Reference="..\Config Section\Serial Port Setting\Sample.SerialPort.Config"
                BakRef="" ErrLib="" ErrLibPath="" />
            <add ID="1" SeqID="0" Reference="..\Config Section\Serial Port Setting\Sample2.SerialPort.Config"
                BakRef="" ErrLib="" ErrLibPath="" />
        </SerialPortCfg>
        <TowerLightCfg>
            <clear />
            <add ID="0" SeqID="0" Reference="..\Config Section\Tower Light Setting\Tower.Light.Config"
                BakRef="" ErrLib="" ErrLibPath="" />
        </TowerLightCfg>
        <GemCfg>
            <clear />
            <add ID="0" SeqID="0" Reference="..\Config Section\Secs Gem\SecsGem.Config"
                BakRef="" ErrLib="" ErrLibPath="" />
        </GemCfg>
        <SecsGemRcpCfg>
            <clear />
            <add ID="0" SeqID="0" Reference="..\Config Section\SecsGemRecipe\SecsGemRecipe.Config"
                BakRef="" ErrLib="" ErrLibPath="" />
        </SecsGemRcpCfg>
    </System_Config>
</configuration>
