<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="TowerLight_Config" type="ConfigManager.TowerLightConfig, ConfigManager, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
    </configSections>
    <TowerLight_Config>
        <TimerInterval LightTimerInterval="300" BuzzerTimerInterval="1000" />
        <Setting>
            <clear />
            <add Name="None" ID="0" RedState="OFF" YellowState="OFF" GreenState="OFF"
                BuzzerState="OFF" />
            <add Name="Ready" ID="1" RedState="OFF" YellowState="Blinking"
                GreenState="Blinking" BuzzerState="OFF" />
            <add Name="Initializing" ID="2" RedState="OFF" YellowState="Blinking"
                GreenState="Blinking" BuzzerState="OFF" />
            <add Name="Init_Done" ID="3" RedState="OFF" YellowState="OFF"
                GreenState="Blinking" BuzzerState="OFF" />
            <add Name="Running" ID="4" RedState="OFF" YellowState="OFF" GreenState="ON"
                BuzzerState="OFF" />
            <add Name="Stopped" ID="5" RedState="ON" YellowState="OFF" GreenState="OFF"
                BuzzerState="OFF" />
            <add Name="Warning" ID="6" RedState="OFF" YellowState="Blinking"
                GreenState="OFF" BuzzerState="OFF" />
            <add Name="Error" ID="7" RedState="Blinking" YellowState="OFF"
                GreenState="OFF" BuzzerState="Blinking" />
            <add Name="Ending_Lot" ID="8" RedState="OFF" YellowState="Blinking"
                GreenState="Blinking" BuzzerState="OFF" />
            <add Name="Lot_Ended" ID="9" RedState="OFF" YellowState="ON"
                GreenState="OFF" BuzzerState="OFF" />
            <add Name="Idle" ID="10" RedState="OFF" YellowState="ON" GreenState="OFF"
                BuzzerState="OFF" />
            <add Name="Recovery" ID="11" RedState="OFF" YellowState="Blinking"
                GreenState="ON" BuzzerState="OFF" />
            <add Name="Repairing" ID="12" RedState="OFF" YellowState="Blinking"
                GreenState="OFF" BuzzerState="OFF" />
            <add Name="CriticalAlarm" ID="13" RedState="Blinking" YellowState="Blinking"
                GreenState="OFF" BuzzerState="Blinking" />
            <add Name="InitFail" ID="14" RedState="Blinking" YellowState="OFF"
                GreenState="OFF" BuzzerState="Blinking" />
            <add Name="ReInit" ID="15" RedState="OFF" YellowState="Blinking"
                GreenState="OFF" BuzzerState="OFF" />
        </Setting>
    </TowerLight_Config>
</configuration>