<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="SerialPort_Config" type="ConfigManager.SerialPortConfig, ConfigManager, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
    </configSections>
    <SerialPort_Config>
        <Device Name="Hioki Tester" BaudRate="38400" Parity="None" PortName="COM4"
            StopBits="One" Handshake="None" DataBits="8" />
        <User RXTerminator="13" LogPath="..\SerialPortLogPath\Power Supply\" />
    </SerialPort_Config>
</configuration>