<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="Err_Lib" type="ConfigManager.ErrorConfig, ConfigManager, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
  </configSections>
  <Err_Lib>
    <ErrTable>
      <clear />
	  <Alarm Code="0" Station="SampleSeq5" AlarmType="Error" Cause="MtrAlarm: Motor Alarm signal is active"
        Recovery="Please check alarm code on motor driver.If this behaviour is persistent, please contact the manufacturer."
        RetestOption="false" RetestDefault="true" IsStoppage="true" PicPath="">
      </Alarm>
      <Alarm Code="1" Station="SampleSeq5" AlarmType="Error" Cause="MtrNotReady: Ready signal not on"
        Recovery="1) Check the wiring connection.&#xD;&#xA;2) Make sure the ready error timer parameter is set to be longer than the time it takes for the homing operation to be completed.&#xD;&#xA;3) System will perform homing again upon resume."
        RetestOption="false" RetestDefault="true" IsStoppage="true" PicPath="">
      </Alarm>
      <Alarm Code="2" Station="SampleSeq5" AlarmType="Error" Cause="MtrNotInPos: Motion cycle has timed out, in position signal remains OFF after error timer has elapsed."
        Recovery="1) Check the wiring connection.&#xD;&#xA;2) Determine there is actual physical movement when motion command is issued.&#xD;&#xA;3) Make sure the in position error timer is set to be longer than the time it takes for motion complete.&#xD;&#xA;4) System will perform homing and move to the same position again upon resume."
        RetestOption="false" RetestDefault="true" IsStoppage="true" PicPath="">
      </Alarm>
      <Alarm Code="3" Station="SampleSeq5" AlarmType="Error" Cause="HitFwdLimit: Motion cycle has timed out, forward limit signal triggered."
        Recovery="1) Make sure forward limit sensor is working properly.&#xD;&#xA;2) You may need to manually move the load backward away from the limit sensor.&#xD;&#xA;3) System will perform homing again upon resume."
        RetestOption="false" RetestDefault="true" IsStoppage="true" PicPath="Sample.jpg">
      </Alarm>
      <Alarm Code="4" Station="SampleSeq5" AlarmType="Error" Cause="HitRevLimit: Motion cycle has timed out, reverse limit signal triggered."
        Recovery="1) Make sure reverse limit sensor is working properly.&#xD;&#xA;2) You may need to manually move the load backward away from the limit sensor.&#xD;&#xA;3) System will perform homing again upon resume."
        RetestOption="false" RetestDefault="true" IsStoppage="true" PicPath="">
      </Alarm>
      <Alarm Code="5" Station="SampleSeq5" AlarmType="Error" Cause="Undefined motor error."
        Recovery="Please check alarm code on motor driver.If this behaviour is persistent, please contact the manufacturer."
        RetestOption="false" RetestDefault="true" IsStoppage="true" PicPath="">
      </Alarm>
      <Alarm Code="6" Station="SampleSeq5" AlarmType="Error" Cause="AlarmNotClr: Motor alarm signal not cleared."
        Recovery="1) Please check wiring connection.&#xD;&#xA;2) Please ensure that Reset Alarm output signal turns ON long enough to reset the motor alarm.&#xD;&#xA;3) System will perform homing again upon resume."
        RetestOption="false" RetestDefault="true" IsStoppage="true" PicPath="">
      </Alarm>
	  <Alarm Code="7" Station="SampleSeq5" AlarmType="Error" Cause="Test error 1"
        Recovery="1) Please check wiring connection.&#xD;&#xA;2) Please ensure that Reset Alarm output signal turns ON long enough to reset the motor alarm.&#xD;&#xA;3) System will perform homing again upon resume."
        RetestOption="false" RetestDefault="true" IsStoppage="true" PicPath="">
      </Alarm>
	  <Alarm Code="8" Station="SampleSeq5" AlarmType="Error" Cause="Code Reader Fail to connect"
        Recovery="1) Please check Code reader connection."
        RetestOption="false" RetestDefault="true" IsStoppage="true" PicPath="">
      </Alarm>
    </ErrTable>
  </Err_Lib>
</configuration>
