<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="Err_Lib" type="ConfigManager.ErrorConfig, ConfigManager, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
  </configSections>
  <Err_Lib>
    <ErrTable>
      <clear />
      <Alarm Code="0" Station="SampleSeq" Cause="MtrAlarm: Motor Alarm signal is active"
        AlarmType="Error" Recovery="Please check alarm code on motor driver.If this behaviour is persistent, please contact the manufacturer."
        RetestOption="false" RetestDefault="true" IsStoppage="true"
        PicPath="" />
      <Alarm Code="1" Station="SampleSeq" Cause="MtrNotReady: Ready signal not on"
        AlarmType="Error" Recovery="1) Check the wiring connection. &#xD;&#xA;2) Make sure the ready error timer parameter is set to be longer than the time it takes for the homing operation to be completed.&#xD;&#xA;3) System will perform homing again upon resume."
        RetestOption="false" RetestDefault="true" IsStoppage="true"
        PicPath="" />
      <Alarm Code="2" Station="SampleSeq" Cause="MtrNotInPos: Motion cycle has timed out, in position signal remains OFF after error timer has elapsed."
        AlarmType="Error" Recovery="1) Check the wiring connection.&#xD;&#xA;2) Determine there is actual physical movement when motion command is issued.&#xD;&#xA;3) Make sure the in position error timer is set to be longer than the time it takes for motion complete.&#xD;&#xA;4) System will perform homing and move to the same position again upon resume."
        RetestOption="false" RetestDefault="true" IsStoppage="true"
        PicPath="" />
      <Alarm Code="3" Station="SampleSeq" Cause="HitFwdLimit: Motion cycle has timed out, forward limit signal triggered."
        AlarmType="Error" Recovery="1) Make sure forward limit sensor is working properly.&#xD;&#xA;2) You may need to manually move the load backward away from the limit sensor.&#xD;&#xA;3) System will perform homing again upon resume."
        RetestOption="false" RetestDefault="true" IsStoppage="true"
        PicPath="Sample.jpg" />
      <Alarm Code="4" Station="SampleSeq" Cause="HitRevLimit: Motion cycle has timed out, reverse limit signal triggered."
        AlarmType="Error" Recovery="1) Make sure reverse limit sensor is working properly.&#xD;&#xA;2) You may need to manually move the load backward away from the limit sensor.&#xD;&#xA;3) System will perform homing again upon resume."
        RetestOption="false" RetestDefault="true" IsStoppage="true"
        PicPath="" />
      <Alarm Code="5" Station="SampleSeq" Cause="Undefined motor error."
        AlarmType="Error" Recovery="Please check alarm code on motor driver.If this behaviour is persistent, please contact the manufacturer."
        RetestOption="false" RetestDefault="true" IsStoppage="true"
        PicPath="" />
      <Alarm Code="6" Station="SampleSeq" Cause="AlarmNotClr: Motor alarm signal not cleared."
        AlarmType="Error" Recovery="1) Please check wiring connection.&#xD;&#xA;2) Please ensure that Reset Alarm output signal turns ON long enough to reset the motor alarm.&#xD;&#xA;3) System will perform homing again upon resume."
        RetestOption="false" RetestDefault="true" IsStoppage="true"
        PicPath="" />
      <Alarm Code="7" Station="SampleSeq" Cause="Test error 1" AlarmType="Error"
        Recovery="1) Please check wiring connection.&#xD;&#xA;2) Please ensure that Reset Alarm output signal turns ON long enough to reset the motor alarm.&#xD;&#xA;3) System will perform homing again upon resume."
        RetestOption="false" RetestDefault="true" IsStoppage="true"
        PicPath="" />
      <Alarm Code="8" Station="SampleSeq" Cause="Code Reader Fail to connect"
        AlarmType="Error" Recovery="1) Please check Code reader connection."
        RetestOption="false" RetestDefault="true" IsStoppage="true"
        PicPath="" />
      <Alarm Code="9" Station="SampleSeq" Cause="AxsMotionTimeOut: Axis Motion Time Out."
        AlarmType="Error" Recovery="1) Please check motor connection.&#xD;&#xA;2) Please ensure motor is enable."
        RetestOption="false" RetestDefault="true" IsStoppage="true"
        PicPath="" />
      <Alarm Code="10" Station="SampleSeq" Cause="MtrEnableFail: Fail to enable motor."
        AlarmType="Error" Recovery="1) Please check motor connection."
        RetestOption="false" RetestDefault="true" IsStoppage="true"
        PicPath="" />
    </ErrTable>
  </Err_Lib>
</configuration>
