<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="SecsGem_Recipe_Config" type="ConfigManager.SecsGemRecipeConfig, ConfigManager, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
    </configSections>
    <SecsGem_Recipe_Config>
        <Recipe>
            <clear />
              <add ID="0" RecipeDir="..\GemDb\HostDataBase.mdb"/>
        </Recipe>
    </SecsGem_Recipe_Config>
</configuration>