<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="Err_Lib" type="ConfigManager.ErrorConfig, ConfigManager, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
  </configSections>
  <Err_Lib>
    <ErrTable>
      <clear />
	  <Alarm
        Code="0"
        Station="紧急按钮"
		AlarmType="故障"
        Cause="紧急按钮已按下！！！"
        Recovery="解放紧急按钮。 所有序列已中断。 点击初始化按钮再次重新初始化机器。"
        RetestOption="false"
        RetestDefault="true"
        IsStoppage="true"
        PicPath="E-Stop.jpg">
      </Alarm>
      <Alarm
        Code="1"
        Station="空气调节器"
		AlarmType="故障"
        Cause="气压过低！！！"
        Recovery="检查空气供应。 所有序列已中断。 点击初始化按钮再次重新初始化机器。"
        RetestOption="false"
        RetestDefault="true"
        IsStoppage="true"
        PicPath="">
      </Alarm>
	  <Alarm
        Code="2"
        Station="真空泵"
		AlarmType="故障"
        Cause="没有真空！！！"
        Recovery="检查真空供应。 所有序列已中断。 点击初始化按钮再次重新初始化机器。"
        RetestOption="false"
        RetestDefault="true"
        IsStoppage="true"
        PicPath="">
	  </Alarm>
	  <Alarm
        Code="3"
        Station="安全门"
		AlarmType="故障"
        Cause="门已打开！！！"
        Recovery="检查关门传感器是否开启。 管理者已执行循环停止。 按开始按钮可从此恢复错误。"
        RetestOption="false"
        RetestDefault="true"
        IsStoppage="false"
        PicPath="">
      </Alarm>
    </ErrTable>
  </Err_Lib>
</configuration>
