<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="OEE_Config" type="ConfigManager.OEEConfig, ConfigManager, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
    </configSections>
    <OEE_Config>
        <OEERuntime TotalInput="0" TotalOutput="0" PlannedStops="0"
            UnplannedStops="0" BeginDateTime="04/01/2022 11:00:00" ShiftNo="1" />
    </OEE_Config>	 
</configuration>
