<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="Seq_Config" type="ConfigManager.SeqConfig, ConfigManager, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
    </configSections>
    <Seq_Config>
        <ErrorTimers>
            <clear />
            <add ID="0" TimeOut="1" Description="Timeout 1" Max="5" Min="0"
                IsVisible="true" Tooltip="Timeout 1" UoM="s" />
            <add ID="1" TimeOut="3" Description="Timeout 2" Max="5" Min="0"
                IsVisible="true" Tooltip="Timeout 2" UoM="s" />
            <add ID="2" TimeOut="0.1" Description="Timeout 3" Max="5" Min="0"
                IsVisible="false" Tooltip="Timeout 3" UoM="s" />
            <add ID="3" TimeOut="0.1" Description="Timeout 4" Max="5" Min="0"
                IsVisible="false" Tooltip="Timeout 4" UoM="s" />
            <add ID="4" TimeOut="0.1" Description="Timeout 5" Max="5" Min="0"
                IsVisible="false" Tooltip="Timeout 5" UoM="s" />
            <add ID="5" TimeOut="0.1" Description="Timeout 6" Max="5" Min="0"
                IsVisible="false" Tooltip="Timeout 6" UoM="s" />
        </ErrorTimers>
        <DelayTimers>
            <clear />
            <add ID="0" TimeOut="6" Description="WaitStopper1Present" Max="5"
                Min="0" IsVisible="true" Tooltip="Delay 1" UoM="s" />
            <add ID="1" TimeOut="0.1" Description="WaitDecodeResult" Max="5"
                Min="0" IsVisible="true" Tooltip="Delay 2" UoM="s" />
            <add ID="2" TimeOut="0.1" Description="Delay 3" Max="5" Min="0"
                IsVisible="false" Tooltip="Delay 3" UoM="s" />
            <add ID="3" TimeOut="0.1" Description="Delay 4" Max="5" Min="0"
                IsVisible="false" Tooltip="Delay 4" UoM="s" />
            <add ID="4" TimeOut="0.1" Description="Delay 5" Max="5" Min="0"
                IsVisible="false" Tooltip="Delay 5" UoM="s" />
            <add ID="5" TimeOut="0.1" Description="Delay 6" Max="5" Min="0"
                IsVisible="false" Tooltip="Delay 6" UoM="s" />
        </DelayTimers>
        <Counters>
            <clear />
            <add ID="0" Value="1" Description="Option 1" IsVisible="true"
                Tooltip="Counter 1" Max="100" Min="0" />
            <add ID="1" Value="1" Description="Counter 2" IsVisible="true"
                Tooltip="Counter 2" Max="10" Min="0" />
            <add ID="2" Value="1" Description="Counter 3" IsVisible="false"
                Tooltip="Counter 3" Max="100" Min="0" />
            <add ID="3" Value="1" Description="Counter 4" IsVisible="false"
                Tooltip="Counter 4" Max="100" Min="0" />
            <add ID="4" Value="1" Description="Counter 5" IsVisible="false"
                Tooltip="Counter 5" Max="100" Min="0" />
            <add ID="5" Value="1" Description="Counter 6" IsVisible="false"
                Tooltip="Counter 6" Max="100" Min="0" />
        </Counters>
        <Options>
            <clear />
            <add ID="0" Value="1" Description="Option 1" IsVisible="true"
                Tooltip="Option 1">
                <ChoiceCollection>
                    <clear />
                    <add ChoiceID="0" ChoiceDesc="SampleChoiceDescription1" />
                    <add ChoiceID="1" ChoiceDesc="SampleChoiceDescription2" />
                    <add ChoiceID="2" ChoiceDesc="SampleChoiceDescription3" />
                    <add ChoiceID="3" ChoiceDesc="SampleChoiceDescription4" />
                </ChoiceCollection>
            </add>
        </Options>
        <TestRun>
            <clear />
            <add ID="0" SeqNum="BeginSampleTest" Desc="Begin Test" IsActive="true"
                IsMultipleCycle="false" />
            <add ID="1" SeqNum="CustomTest1" Desc="{Put Test Description Here}"
                IsActive="false" IsMultipleCycle="false" />
            <add ID="2" SeqNum="CustomTest2" Desc="{Put Test Description Here}"
                IsActive="false" IsMultipleCycle="false" />
            <add ID="3" SeqNum="CustomTest3" Desc="{Put Test Description Here}"
                IsActive="false" IsMultipleCycle="false" />
            <add ID="4" SeqNum="CustomTest4" Desc="{Put Test Description Here}"
                IsActive="false" IsMultipleCycle="false" />
            <add ID="5" SeqNum="CustomTest5" Desc="{Put Test Description Here}"
                IsActive="false" IsMultipleCycle="false" />
            <add ID="6" SeqNum="EndSampleTest" Desc="{Put Test Description Here}"
                IsActive="false" IsMultipleCycle="false" />
            <add ID="7" SeqNum="HomeMotor" Desc="{Put Test Description Here}"
                IsActive="false" IsMultipleCycle="false" />
            <add ID="8" SeqNum="Maintenance" Desc="{Put Test Description Here}"
                IsActive="false" IsMultipleCycle="false" />
            <add ID="9" SeqNum="Production" Desc="{Put Test Description Here}"
                IsActive="false" IsMultipleCycle="false" />
        </TestRun>
    </Seq_Config>
</configuration>
