<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="Seq_Config" type="ConfigManager.SeqConfig, ConfigManager, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
    </configSections>
    <Seq_Config>
        <ErrorTimers>
            <clear />
            <add ID="0" TimeOut="30" Description="LongDist" Max="30" Min="0"
                IsVisible="true" Tooltip="Error timer 1" UoM="s" />
            <add ID="1" TimeOut="30" Description="ShortDist" Max="20" Min="0"
                IsVisible="true" Tooltip="Error timer 2" UoM="s" />
            <add ID="2" TimeOut="5" Description="Gripper" Max="5" Min="0"
                IsVisible="true" Tooltip="Gripper Work/ Rest Timeout" UoM="s" />
            <add ID="3" TimeOut="0.2" Description="Timeout 4" Max="5" Min="0"
                IsVisible="false" Tooltip="Timeout 4" UoM="s" />
            <add ID="4" TimeOut="0.2" Description="Timeout 5" Max="5" Min="0"
                IsVisible="false" Tooltip="Timeout 5" UoM="s" />
            <add ID="5" TimeOut="0.2" Description="Timeout 6" Max="5" Min="0"
                IsVisible="false" Tooltip="Timeout 6" UoM="s" />
            <add ID="6" TimeOut="0.2" Description="Timeout 7" Max="5" Min="0"
                IsVisible="false" Tooltip="Timeout 7" UoM="s" />
            <add ID="7" TimeOut="0.8" Description="Timeout 8" Max="5" Min="0"
                IsVisible="false" Tooltip="Timeout 8" UoM="s" />
            <add ID="8" TimeOut="0.2" Description="Timeout 9" Max="5" Min="0"
                IsVisible="false" Tooltip="Timeout 9" UoM="s" />
            <add ID="9" TimeOut="0.3" Description="Timeout 10" Max="5" Min="0"
                IsVisible="false" Tooltip="Timeout 10" UoM="s" />
        </ErrorTimers>
        <DelayTimers>
            <clear />
            <add ID="0" TimeOut="1" Description="SetZeroPos" Max="5" Min="0"
                IsVisible="true" Tooltip="Delay Test 1" UoM="s" />
            <add ID="1" TimeOut="2" Description="Gripper" Max="5" Min="0"
                IsVisible="true" Tooltip="Test Delay 2" UoM="s" />
            <add ID="2" TimeOut="0.1" Description="Delay 3" Max="5" Min="0"
                IsVisible="false" Tooltip="Delay 3" UoM="s" />
            <add ID="3" TimeOut="0.1" Description="Delay 4" Max="5" Min="0"
                IsVisible="false" Tooltip="Delay 4" UoM="s" />
            <add ID="4" TimeOut="0.1" Description="Delay 5" Max="5" Min="0"
                IsVisible="false" Tooltip="Delay 5" UoM="s" />
            <add ID="5" TimeOut="0.1" Description="Delay 6" Max="5" Min="0"
                IsVisible="false" Tooltip="Delay 6" UoM="s" />
            <add ID="6" TimeOut="0.1" Description="Delay 7" Max="5" Min="0"
                IsVisible="false" Tooltip="Delay 7" UoM="s" />
            <add ID="7" TimeOut="0.1" Description="Delay 8" Max="5" Min="0"
                IsVisible="false" Tooltip="Delay 8" UoM="s" />
            <add ID="8" TimeOut="0.1" Description="Delay 9" Max="5" Min="0"
                IsVisible="false" Tooltip="Delay 9" UoM="s" />
            <add ID="9" TimeOut="0.1" Description="Delay 10" Max="5" Min="0"
                IsVisible="false" Tooltip="Delay 10" UoM="s" />
        </DelayTimers>
        <Counters>
            <clear />
            <add ID="0" Value="12" Description="Max Retry to connect Code Reader"
                IsVisible="true" Tooltip="Max Retry to connect Code Reader"
                Max="100" Min="0" />
            <add ID="1" Value="2" Description="Counter 2" IsVisible="true"
                Tooltip="Counter 2" Max="100" Min="0" />
            <add ID="2" Value="1" Description="Counter 3" IsVisible="false"
                Tooltip="Counter 3" Max="100" Min="0" />
            <add ID="3" Value="1" Description="Counter 4" IsVisible="false"
                Tooltip="Counter 4" Max="100" Min="0" />
            <add ID="4" Value="1" Description="Counter 5" IsVisible="false"
                Tooltip="Counter 5" Max="100" Min="0" />
            <add ID="5" Value="1" Description="Counter 6" IsVisible="false"
                Tooltip="Counter 6" Max="100" Min="0" />
            <add ID="6" Value="1" Description="Counter 7" IsVisible="false"
                Tooltip="Counter 7" Max="100" Min="0" />
            <add ID="7" Value="1" Description="Counter 8" IsVisible="false"
                Tooltip="Counter 8" Max="100" Min="0" />
            <add ID="8" Value="1" Description="Counter 9" IsVisible="false"
                Tooltip="Counter 9" Max="100" Min="0" />
            <add ID="9" Value="1" Description="Counter 10" IsVisible="false"
                Tooltip="Counter 10" Max="100" Min="0" />
        </Counters>
        <Options>
            <clear />
            <add ID="0" Value="1" Description="Reconnect Code Reader" IsVisible="true"
                Tooltip="Option 1">
                <ChoiceCollection>
                    <clear />
                    <add ChoiceID="0" ChoiceDesc="Yes" />
                    <add ChoiceID="1" ChoiceDesc="No" />
                </ChoiceCollection>
            </add>
        </Options>
        <TestRun>
            <clear />
            <add ID="0" SeqNum="BeginSampleTest" Desc="Begin Test" IsActive="true"
                IsMultipleCycle="true" />
            <add ID="1" SeqNum="CustomTest1" Desc="Gripper Work" IsActive="false"
                IsMultipleCycle="true" />
            <add ID="2" SeqNum="CustomTest2" Desc="{Put Test Description Here}"
                IsActive="false" IsMultipleCycle="false" />
            <add ID="3" SeqNum="CustomTest3" Desc="{Put Test Description Here}"
                IsActive="false" IsMultipleCycle="false" />
            <add ID="4" SeqNum="CustomTest4" Desc="{Put Test Description Here}"
                IsActive="false" IsMultipleCycle="false" />
            <add ID="5" SeqNum="CustomTest5" Desc="{Put Test Description Here}"
                IsActive="false" IsMultipleCycle="false" />
            <add ID="6" SeqNum="EndSampleTest" Desc="{Put Test Description Here}"
                IsActive="false" IsMultipleCycle="false" />
            <add ID="7" SeqNum="HomeMotor" Desc="Motor Homing" IsActive="false"
                IsMultipleCycle="false" />
            <add ID="8" SeqNum="Maintenance" Desc="{Put Test Description Here}"
                IsActive="false" IsMultipleCycle="false" />
            <add ID="9" SeqNum="Production" Desc="{Put Test Description Here}"
                IsActive="false" IsMultipleCycle="false" />
        </TestRun>
    </Seq_Config>
</configuration>
