<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="Secs_Gem_Config" type="ConfigManager.SecsGemConfig, ConfigManager, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
    </configSections>
    <Secs_Gem_Config>
        <Setting>
            <clear />
              <add ID="0" DatabaseDir="..\GemDb\HostDataBase.mdb" EnableSecsGem="False"/>
        </Setting>
    </Secs_Gem_Config>
</configuration>